<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sikeres felvétel</h1>
    <p>foglalás adatok</p>
    <p>Foglalási név: <%=newfoglalas.name  %></p>
    <p>email: <%=newfoglalas.email  %></p>
    <p>dátum: <%=newfoglalas.dateandtime  %></p>
    <p>személyek száma: <%=newfoglalas.watchersOrGuests  %></p>
</body>
</html>